<header class="bg-gray-800 p-4 flex justify-between items-center w-full fixed top-0 z-10">
        <a href="#" class="-m-1.5 p-1.5">
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
        <div class="flex gap-4">
            <a href="#" class="text-sm font-semibold leading-6 text-white" [routerLink]="['/abhay/contact-us']" routerLinkActive="router-link-active" >Contact us</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
        
        
</header>